{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Hey! It's a watchlist collection!</h2>
            <h5>Create an amazing API tool for watchlist collecting developers.</h5>
        
        <div>
        <button class="btn btn-primary">View Our Docs</button>
        <button class="btn btn-primary">Join Our Slack</button>
        </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
        </div>
    </header>
    <!-- End of Header -->

    <!-- Middle Section/Body -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection!</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
    <!-- End of middle section -->

    <!-- Collection of Features -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <h4>Dedicated API Route</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h4>GraphQL API Route</h4>
            <p>
                If you want all data from one endpoint, we have that too!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <h4>Backed by a PostgresQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database
            </p>

        </div>
    </section>
    <!-- End of Collection of Features -->

    <!-- Community Section -->
   
    <!-- End of Community Section -->

    <!-- Start of Footer -->
    
    
</footer>




</div>

{% endblock content %}