/* Nav Styles */
.ct-nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.ct-nav img {
    background-color: black;
    color: white;
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list {
    background-color: black;
    color: white;
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li,
ul#horizontal-list a {
    background-color: black;
    color: white;
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
}

ul#horizontal-list a:nth-last-child(1) {
    background-color: black;
    color: white;
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}
/* End of navbar styles */
/* Header section of index.html */
#header-text{
    background-color: black;
    color: white;
    padding: 2vw;
}

.header-image{
    background-color: black;
    color: white;
    width: 82%;
    max-width: 100%;
}
/* End of Header Section */

/* Middle Section Styles */
#middle-text{
    background-color: black;
    color: white;
    text-align:center;
    padding: 13vh;
}

#middle-text h2{
    background-color: black;
    color: white;
    padding: 1.5vw;
}
/* End of middle section */

/* Collection of Features */
#api-image, #graphql-image, #database-image{
    background-color: black;
    color: white;
    margin-bottom: 10vh;
}

#features-section{
    background-color: black;
    color: white;
    margin: 8vw;
}
/* End of Features Section */
/* Start of Community Section */
#Movie-image{
    background-color: black;
    color: white;
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
}
/* end of Community Section */
/* Start of Footer */
.footer-text-flex{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    background-color: black;
    color: white;
    width: 100%;
    max-width: 100%;
}

#footer {
    background-color: black;
    color: white;
    border-top: 3px solid white;
    margin-top: 20vh;
}

/* Profile Styles */
.hero-section {
    background-color: black;
    color: white;
    height: 95vh;
    position: relative;
}

.header-text {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    left: 20rem;
    top: 20rem;
    color: white;
}

.movie_form {
    background-color: black;
    color: white;
    padding-top: 2%;
    
}

html, div, .container, #footer {
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

